.footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  color: darkslategrey;
  font-size: 1rem;

  div {
    flex: 33% 0 0;
    text-align: center;

  }

  .social-links {
      //display: flex;

    .fa {
      padding: 5px;
      font-size: 20px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }

    .fa:hover {
      background: #6F6F6F;
    }

    .fa-facebook {
      background: #63c1dd;
      color: white;
    }

    .fa-instagram {
      background: #eea236;
      color: white;
    }
  }
}
